/*------------------------------------*\
    $RESET
\*------------------------------------*/
* {
    margin: 0;
    padding: 0;
}


header, main {
  display: block;
}
h1 {
  color: #577498;
  font-size: 14px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
  margin: 0;
  padding: 6px 0px 14px 7px;
  border-bottom: 1px solid gray;

}
.logo {
  float: left;
  width: 25px;
  height: 25px;
  padding: 18.4px 10px 0px 11.4px;
}

header p {
  width: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  padding: 4px 0px 0px 7px;
}




label {
  float: left;
}
fieldset {
   border:0 none;
}

