*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 10px auto;
  width: 288px;
}
h1 {
  font: 16px/1.8 "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px;
  }
h2 {
  font: 14.4px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 16px 0px 14px 0px;
  }
p {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}
.c1 {
  text-align: center;
  margin: auto;
}

.foot {
  text-align: center;
  font: 10px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c6c7cc;
  margin-top: 10px;
  }

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 11px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  font-weight: bold;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 5px;
  font: 9.5px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0px 0;
}
select {
  font-size: 10px;
}
legend {
  font: 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.1px;
  padding: 7px 0px 0px 0px;
}
.account-info {
  padding: 10px 16px 12px 16px;

}
.account-info label {
  color: #395870;
  display: block;
  text-align: left;
  margin: 15px 0 2px 0;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  text-indent: 1px;
  width: 100%;
  padding: 3px 0px 4px 0px;
  margin: 0px 0px;
}
.account-info select {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  font-size: 9px;
  padding: 5px 0px 4px 4px;
}
.account-action {
  background: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  text-align: center;
  padding: 20px 9px 23.7px 30px;
}
.account-action .btn {
  font-size: 11px;
  font-weight: bold;
  padding: 7px 14px 6px 14px;
  letter-spacing: 0px;
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  margin: 0px 21px 0 0;
}
.account-action label {
  color: #7c7c80;
  font-size: 9px;
  float: left;
  font-weight: normal;
  padding-bottom: 7px;
}
input[type="text"], input[type="email"],  select, textarea {
  width: 100%;
 
}
#f {
  margin: 12px 0px 2.1px 0px;
}
#email {
  margin: 12px 0px 2.2px 0px;
}
#tel {
  margin: 12px 0px 2.3px 0px;
}
input[type="tel"] {
  padding: 4px 0px 3px 0px;
}
#strana {
  margin: 12px 0px 2.3px 0px;
}
#pas {
  margin: 8px 0px 2.5px 0px;
}
#pass {
  margin: 12px 0px 2.5px 0px;
}
input[type="password"] {
  padding: 3.8px 0px 4px 3.5px;
  font-size: 11.2px;
}
#pas2 {
  padding: 3.8px 0px 4px 3.5px;
  font-size: 11.2px;
}